.navbar {
  padding: 10;
  display: flex;
  justify-content: space-around;
  align-items: right;
  font-family: haboro, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;
}

a {
  text-decoration: none;
}

.navlinks {
  padding: 0;
  display: flex;
  width: 60%;
  justify-content: space-around;
  list-style-type: none;
}

.navitem {
  position: relative;
  color: #000;
  text-decoration: none;
}

.navitem:hover {
  color: #000;
}

.navitem::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -1;
  left: 0;
  background-color: #00e3a8;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.navitem:hover::before {
  transform: scaleX(1);
}

.navitem {
  /* font-size: 0.9em; */
  margin: 0;
  padding: 0;
  display: block;
  text-decoration: none;
}

.navitem a {
  position:relative;
  color:black;
  text-decoration: none;
}

.navitem .current {
  display: inline;
  border-bottom: 2px solid #00e3a8;
}

.logo {
  color: black;
  font-family: Garamond;
  text-decoration: none;
  font-style:italic;
  padding:1em;
  justify-content: left;
}

h3 {
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Trebuchet MS"
}

h2 {
  margin-left: 100px;
  margin-right: 100px;
  font-family: "Trebuchet MS"
}

h1 {
  margin: 100px;
  font-size: 45px
}
p {
  margin-right: 100px;
  margin-left: 100px;
  font-size: 20px;
  font-style: italic
}

.header {
  background-image: url("https://img.freepik.com/free-photo/vivid-blurred-colorful-wallpaper-background_58702-2795.jpg");
  background-color: #2f90ff;
  background-size: cover;
  color: white;
  padding: 10px;
}

.LI-profile-badge {
  margin-left: 100px;
}

.container {
  margin-left: 100px;
  margin-bottom: 100px;
  position: relative;
  display: inline-block;
}

.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover .image {
  opacity: 0.5;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  transition: .2s;
  color: black;
  font-style: normal;
  font-family: 'Trebuchet MS';
  font-size: 20px;
  text-align: center;
}

.project-header {
  margin-left:100px;
  margin-right:100px;
  font-family: "Trebuchet MS";
  font-style:normal;
  font-size:30px;
}

.project-items {
  margin-left:100px;
  margin-right:100px;
  font-family: "Trebuchet MS";
  font-style:normal;
  font-size:20px;
}

.icons {
  list-style: none;
  margin: 10px 30px;
  display: inline-block;
  font-size: 40px;
  padding: 20px 20px;
}

.media {
  text-align: center;
  margin-top: 100px
}
.social-icon {
  color:#008af9
}
