.navbar {
    display: flex;
    justify-content: space-between;
    font-family: haboro, sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;

}

.navitem a {
   color:black;
   text-decoration: none;
}

.navitem .current {
  text-decoration: underline;
}

.navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0%;

}

.wrapbody {
margin-left: 100px;
margin-top: 0px;
}
