.navbar {
  display: flex;
  justify-content: space-evenly;
  font-family: haboro, sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;

}

.navitem a {
 color:black;
 text-decoration: none;
}

.navitem .current {
 color: black;
 text-decoration: underline;
}

.logo {
  color: black;
  font-family: Garamond;
  text-decoration: none;
  font-style:italic;
  padding:1em;
  justify-content: left;
}

.navlinks {
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 0%;
}

h1 {
  margin: 100px;
  font-size: 45px
}
p {
  margin: 100px;
  font-size: 20px;
  font-style: italic
}

.header {
  background-image: url("https://t3.ftcdn.net/jpg/04/28/78/16/360_F_428781613_VHeRTEzK2kCAOuWGuHyDi99KlCJSfgX0.jpg");
  background-color: #2f90ff;
  background-size: cover;
  color: white;
  padding: 10px;
}
